<mat-toolbar color="primary">
    <span><img src="/assets/images/logo.png" height=30 width=41></span>
    <!-- The routerLink attribute allows you to specify the path -->
    <!-- The routerLinkActive attribute allows you to apply CSS classes to the element 
      when the link becomes active. -->
    <a mat-button routerLink="/home" routerLinkActive="active"><span class="bi bi-house-door-fill"></span>Home</a>
    <a mat-button routerLink="/aboutus" routerLinkActive="active"><span class="bi bi-file-person"></span> About</a>
    <a mat-button routerLink="/menu" routerLinkActive="active"><span class="bi bi-menu-button"></span> Menu</a>
    <a mat-button routerLink="/contactus" routerLinkActive="active"><span class="bi bi-telephone-fill"></span> Contact</a>
    <span class="flex-spacer"></span>
    <a mat-button (click)="openLoginForm()"><span class="bi bi-box-arrow-in-right"></span> Login</a>
  </mat-toolbar>
  
  <div class="container jumbotron"
      fxLayout="row"
      fxLayout.sm="column" 
      fxLayout.xs="column" 
      fxLayoutAlign.xs="start center"
      fxLayoutAlign.sm="start center" 
      fxLayoutAlign.gt-sm="center center" 
      fxLayoutGap="10px">
  
    <div fxFlex fxFlex.gt-sm="50%">
      <h1>Ristorante Con Fusion</h1>
      <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
        will tickle your culinary senses!</p>
    </div>
    <div fxFlex fxFlex.gt-sm="20%">
      <img src="/assets/images/logo.png" alt="Logo">
    </div>
    <div fxFlex></div>
  </div>
  