<div class="container" fxLayout="column" fxLayoutGap="10px">

    <div fxFlex>
        <div>
            <h3>Menu</h3>
            <hr>
        </div>
    </div>

    <div fxFlex *ngIf="dishes">
        <mat-grid-list cols="2" rowHeight="200px">
            <!-- structural directive, pipes, and material attributes are used -->
            <!-- <mat-grid-tile *ngFor="let dish of dishes" (click)="onSelect(dish)"> -->

            <!-- routerLink attribute = initiates navigation to a route. -->
            <!-- The Router enables the dishComponent to retrieve the value of routerLink -->
            <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]" appHighlight>
                <img height="200px" src="{{BaseURL + dish.image}}" alt="{{dish.name}}">
                <mat-grid-tile-footer>
                    <h1> {{dish.name | uppercase}}</h1>
                </mat-grid-tile-footer>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <!-- (Data-source to view binding) The value of the selectedDish ( from the menu component) 
        will be passed to the dishdetail component through the dish property -->
    <!-- <app-dishdetail [dish]="selectedDish">
        
    </app-dishdetail> -->

    <div fxFlex [hidden]="dishes || errMess">
        <mat-spinner></mat-spinner> <h4>Loading . . . Please Wait!</h4>
    </div>

    <div fxFlex *ngIf="errMess">
        <h2>Error</h2>
        <h4>{{errMess}}</h4>
    </div>

</div>